body {
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: center;
  background-color: #ade5f9;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  border-radius: 50%;
}
button {
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px 12px;
  border: 0;
  align-items: center;
  color: #3a4149;
  background: #e7ebee;
  line-height: 1.15;
  font-size: 16px;
  float: none;
}
